@tailwind base;
@tailwind components;
@tailwind utilities;

.color-btn{
  background-color: rgb(229, 9, 20);
  color: white;
  border-radius: 5px;
}
.color-btn:hover{
  background-color:rgb(162, 21, 28);
}
.border-color{
  border-color: rgba(128,128,128,0.7);
}
.wrapper{
    padding-left: 160px;
    padding-right: 160px;
  }
.logo-svg{
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

  .bg-poster {
    background-image: url('../../public/images/Poster.jpg');
  }
  .bg-poster-gradient{
    background-color: rgb(0, 0, 0,0.5);
  }
  .bg-gif{
   
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center  center no-repeat;
  }
  .shadow-custom {
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, 1); 
    background-size: 100%;
  }
  .bg-signin{
    background-color: rgb(0, 0, 0,0.8);
  }